.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  padding: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;

  a{
    cursor: pointer;
    border: white solid 1px;
    border-radius: 5px;
    padding: 7px;
    margin: auto;
    // &::after {
    //   margin: 3px;
    //   content: url("/img/arrow.svg");
    // }
  }

  .lueur {
    height: 100% !important;
    position: absolute;
    right: -20%;
    z-index: 1;
  }

  // element
  .spacer {
    height: 20vh;
    width: 100%;
  }

  header {
    position: absolute;
    z-index: 3;
  }

  .canvas {
    height: 400px !important;
    width: 400px !important;
    margin: auto;
    
    // background-color: red;
  }
}
